.button {
    background: transparent;
    border: 1px solid #171212;
    padding: 5px;
    cursor: pointer;

    transition: all 0.1s ease-in;
}

.button:hover {
    background: #171212;
    color: #ffffff;
}

.buttonSmall {
    padding: 5px;
}

.buttonLarge {
    padding: 10px;
}